rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      allow create, update: if request.auth != null
      allow delete: if resource.data.user_uid == request.auth.uid
    }
    match /{document=**} {
      allow read: if request.auth != null
    }
  }
}